<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <main class="container">
    <%- include('partials/header') %>
    <section class="intro">
      <h1>JWT Based Authentication</h1>
      <p>JWT (JSON Web Token) is a compact way to securely transmit data between parties using a JSON structure. <br>
        Often used for authentication, it consists of three parts: Header, Payload, and Signature. <br>
        JWTs are stateless, eliminating the need for server-side storage. <br>
        They're commonly employed in authentication, authorization, and
        secure data transfer, and require careful handling to ensure security. </p>
      <a href="/user/signup" class="btn">Get Started</a>
    </section>
  </main>
</body>

</html>