<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <main class="container">
    <%- include("partials/header") %>
    <section class="main">
      <div class="user-details">

        <% if (user) { %>
        <h1>Hello <span class="name"><%= user.name %></span>. Your email is <span class="email"><%= user.email %></span>
          <% } %>
        </h1>
        <a href="/user/logout" class="btn">Logout</a>
      </div>
    </section>
  </main>
</body>

</html>